--
-- PostgreSQL database dump
--

\restrict RwrwQTEHf6gpHv9SQcp4W8usE3Z0AMUaUmUf4wJg7gh0aYo2vsHhyvz3wOG3SxO

-- Dumped from database version 18.6 (Debian 18.6-1.pgdg12+2)
-- Dumped by pg_dump version 18.6 (Debian 18.6-1.pgdg13+2)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: public; Type: SCHEMA; Schema: -; Owner: ms_sons_db_user
--

-- *not* creating schema, since initdb creates it


ALTER SCHEMA public OWNER TO ms_sons_db_user;

--
-- Name: HotelCategory; Type: TYPE; Schema: public; Owner: ms_sons_db_user
--

CREATE TYPE public."HotelCategory" AS ENUM (
    'BUDGET',
    'ECONOMY',
    'STANDARD',
    'PREMIUM',
    'LUXURY'
);


ALTER TYPE public."HotelCategory" OWNER TO ms_sons_db_user;

--
-- Name: InquiryStatus; Type: TYPE; Schema: public; Owner: ms_sons_db_user
--

CREATE TYPE public."InquiryStatus" AS ENUM (
    'NEW',
    'CONTACTED',
    'QUOTED',
    'CONFIRMED',
    'CANCELLED',
    'COMPLETED'
);


ALTER TYPE public."InquiryStatus" OWNER TO ms_sons_db_user;

--
-- Name: PackageStatus; Type: TYPE; Schema: public; Owner: ms_sons_db_user
--

CREATE TYPE public."PackageStatus" AS ENUM (
    'ACTIVE',
    'INACTIVE',
    'DRAFT',
    'SOLD_OUT'
);


ALTER TYPE public."PackageStatus" OWNER TO ms_sons_db_user;

--
-- Name: Role; Type: TYPE; Schema: public; Owner: ms_sons_db_user
--

CREATE TYPE public."Role" AS ENUM (
    'ADMIN',
    'STAFF'
);


ALTER TYPE public."Role" OWNER TO ms_sons_db_user;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: AdminUser; Type: TABLE; Schema: public; Owner: ms_sons_db_user
--

CREATE TABLE public."AdminUser" (
    id text NOT NULL,
    email text NOT NULL,
    password text NOT NULL,
    name text NOT NULL,
    role public."Role" DEFAULT 'STAFF'::public."Role" NOT NULL,
    active boolean DEFAULT true NOT NULL,
    "lastLoginAt" timestamp(3) without time zone,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."AdminUser" OWNER TO ms_sons_db_user;

--
-- Name: Airline; Type: TABLE; Schema: public; Owner: ms_sons_db_user
--

CREATE TABLE public."Airline" (
    id text NOT NULL,
    name text NOT NULL,
    code text NOT NULL,
    logo text,
    description text,
    "baggageAllowance" text,
    "departureCity" text DEFAULT 'Islamabad'::text NOT NULL,
    "arrivalCity" text DEFAULT 'Jeddah'::text NOT NULL,
    active boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Airline" OWNER TO ms_sons_db_user;

--
-- Name: AuditLog; Type: TABLE; Schema: public; Owner: ms_sons_db_user
--

CREATE TABLE public."AuditLog" (
    id text NOT NULL,
    "adminId" text,
    action text NOT NULL,
    entity text NOT NULL,
    "entityId" text,
    metadata jsonb,
    "ipAddress" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."AuditLog" OWNER TO ms_sons_db_user;

--
-- Name: BookingInquiry; Type: TABLE; Schema: public; Owner: ms_sons_db_user
--

CREATE TABLE public."BookingInquiry" (
    id text NOT NULL,
    "referenceNumber" text NOT NULL,
    "fullName" text NOT NULL,
    "whatsappNumber" text NOT NULL,
    email text,
    adults integer DEFAULT 1 NOT NULL,
    children integer DEFAULT 0 NOT NULL,
    infants integer DEFAULT 0 NOT NULL,
    "durationDays" integer,
    "packageId" text,
    "airlineId" text,
    "hotelPreference" text,
    "roomType" text,
    "departureDate" text,
    "specialRequirements" text,
    message text,
    status public."InquiryStatus" DEFAULT 'NEW'::public."InquiryStatus" NOT NULL,
    "adminNotes" text,
    "estimatedPrice" double precision,
    currency text DEFAULT 'PKR'::text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."BookingInquiry" OWNER TO ms_sons_db_user;

--
-- Name: FlightSchedule; Type: TABLE; Schema: public; Owner: ms_sons_db_user
--

CREATE TABLE public."FlightSchedule" (
    id text NOT NULL,
    "airlineId" text NOT NULL,
    "departureCity" text DEFAULT 'Islamabad'::text NOT NULL,
    "arrivalCity" text DEFAULT 'Jeddah'::text NOT NULL,
    "departureDate" timestamp(3) without time zone NOT NULL,
    "returnDate" timestamp(3) without time zone,
    "flightNumber" text,
    "baggageDetails" text,
    status text DEFAULT 'active'::text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."FlightSchedule" OWNER TO ms_sons_db_user;

--
-- Name: Hotel; Type: TABLE; Schema: public; Owner: ms_sons_db_user
--

CREATE TABLE public."Hotel" (
    id text NOT NULL,
    name text NOT NULL,
    city text NOT NULL,
    location text,
    "distanceFromHaram" text,
    "distanceFromMasjidNabawi" text,
    category public."HotelCategory" DEFAULT 'STANDARD'::public."HotelCategory" NOT NULL,
    rating double precision,
    "starRating" integer,
    "shuttleAvailable" boolean DEFAULT false NOT NULL,
    description text,
    amenities text[],
    images text[],
    active boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Hotel" OWNER TO ms_sons_db_user;

--
-- Name: HotelRoomPrice; Type: TABLE; Schema: public; Owner: ms_sons_db_user
--

CREATE TABLE public."HotelRoomPrice" (
    id text NOT NULL,
    "hotelId" text NOT NULL,
    "roomTypeId" text NOT NULL,
    price double precision NOT NULL,
    available boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."HotelRoomPrice" OWNER TO ms_sons_db_user;

--
-- Name: Package; Type: TABLE; Schema: public; Owner: ms_sons_db_user
--

CREATE TABLE public."Package" (
    id text NOT NULL,
    "packageCode" text,
    title text NOT NULL,
    "durationDays" integer NOT NULL,
    status public."PackageStatus" DEFAULT 'DRAFT'::public."PackageStatus" NOT NULL,
    description text,
    provider text,
    "airlineId" text,
    "departureCity" text DEFAULT 'Islamabad'::text NOT NULL,
    "arrivalCity" text DEFAULT 'Jeddah'::text NOT NULL,
    "departureDate" timestamp(3) without time zone,
    "returnDate" timestamp(3) without time zone,
    "departureDates" text,
    "returnDates" text,
    "baggageDetails" text,
    "infantRate" double precision,
    "childRate" double precision,
    "childWithoutBedRate" double precision,
    "visaIncluded" boolean DEFAULT true NOT NULL,
    "ticketIncluded" boolean DEFAULT true NOT NULL,
    "hotelIncluded" boolean DEFAULT true NOT NULL,
    "transportIncluded" boolean DEFAULT true NOT NULL,
    "guideIncluded" boolean DEFAULT false NOT NULL,
    "ziyaratIncluded" boolean DEFAULT false NOT NULL,
    "termsAndConditions" text,
    "sortOrder" integer DEFAULT 0 NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "makkahHotelId" text,
    "makkahNights" integer,
    "makkahDistance" text,
    "madinahHotelId" text,
    "madinahNights" integer,
    "madinahDistance" text
);


ALTER TABLE public."Package" OWNER TO ms_sons_db_user;

--
-- Name: PackageHotel; Type: TABLE; Schema: public; Owner: ms_sons_db_user
--

CREATE TABLE public."PackageHotel" (
    id text NOT NULL,
    "hotelId" text NOT NULL,
    distance text,
    location text,
    nights integer,
    "shuttleAvailable" boolean DEFAULT false NOT NULL
);


ALTER TABLE public."PackageHotel" OWNER TO ms_sons_db_user;

--
-- Name: PackageRoomPrice; Type: TABLE; Schema: public; Owner: ms_sons_db_user
--

CREATE TABLE public."PackageRoomPrice" (
    id text NOT NULL,
    "packageId" text NOT NULL,
    "roomTypeId" text NOT NULL,
    price double precision NOT NULL,
    currency text DEFAULT 'PKR'::text NOT NULL,
    available boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."PackageRoomPrice" OWNER TO ms_sons_db_user;

--
-- Name: Review; Type: TABLE; Schema: public; Owner: ms_sons_db_user
--

CREATE TABLE public."Review" (
    id text NOT NULL,
    name text NOT NULL,
    city text,
    rating integer NOT NULL,
    comment text NOT NULL,
    "imageUrl" text,
    "isApproved" boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."Review" OWNER TO ms_sons_db_user;

--
-- Name: RoomType; Type: TABLE; Schema: public; Owner: ms_sons_db_user
--

CREATE TABLE public."RoomType" (
    id text NOT NULL,
    name text NOT NULL,
    code text,
    active boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."RoomType" OWNER TO ms_sons_db_user;

--
-- Name: SiteSetting; Type: TABLE; Schema: public; Owner: ms_sons_db_user
--

CREATE TABLE public."SiteSetting" (
    id text NOT NULL,
    key text NOT NULL,
    value text NOT NULL,
    category text DEFAULT 'general'::text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."SiteSetting" OWNER TO ms_sons_db_user;

--
-- Data for Name: AdminUser; Type: TABLE DATA; Schema: public; Owner: ms_sons_db_user
--

COPY public."AdminUser" (id, email, password, name, role, active, "lastLoginAt", "createdAt", "updatedAt") FROM stdin;
44b013f2-ad18-4978-ab67-ed65967ea25e	admin@mssons.com	$2a$12$eC3EfibMRbAMA/Kx5fjPmOwDk82LkVV9VgNMBfzJMAzCbvwBzhvQO	MS Sons Admin	ADMIN	t	2026-09-17 19:15:28.726	2026-09-17 10:21:56.789	2026-09-17 19:15:28.728
\.


--
-- Data for Name: Airline; Type: TABLE DATA; Schema: public; Owner: ms_sons_db_user
--



--
-- Data for Name: AuditLog; Type: TABLE DATA; Schema: public; Owner: ms_sons_db_user
--



--
-- Data for Name: BookingInquiry; Type: TABLE DATA; Schema: public; Owner: ms_sons_db_user
--



--
-- Data for Name: FlightSchedule; Type: TABLE DATA; Schema: public; Owner: ms_sons_db_user
--



--
-- Data for Name: Hotel; Type: TABLE DATA; Schema: public; Owner: ms_sons_db_user
--



--
-- Data for Name: HotelRoomPrice; Type: TABLE DATA; Schema: public; Owner: ms_sons_db_user
--



--
-- Data for Name: Package; Type: TABLE DATA; Schema: public; Owner: ms_sons_db_user
--



--
-- Data for Name: PackageHotel; Type: TABLE DATA; Schema: public; Owner: ms_sons_db_user
--



--
-- Data for Name: PackageRoomPrice; Type: TABLE DATA; Schema: public; Owner: ms_sons_db_user
--



--
-- Data for Name: Review; Type: TABLE DATA; Schema: public; Owner: ms_sons_db_user
--

COPY public."Review" (id, name, city, rating, comment, "imageUrl", "isApproved", "createdAt") FROM stdin;
ca8cf3db-e0f1-4027-a298-e0af5eb2ddbd	Malik Hashir awan	Wah cantt	5	Have agreat experince . good services .  Thankyou	\N	t	2026-09-17 11:54:21.161
ced142c6-c663-48df-8efe-dafbaa8e97a8	Ameer hamza	Attock	3	Such a great experince , have a comfratable services	\N	t	2026-09-17 11:55:58.624
\.


--
-- Data for Name: RoomType; Type: TABLE DATA; Schema: public; Owner: ms_sons_db_user
--



--
-- Data for Name: SiteSetting; Type: TABLE DATA; Schema: public; Owner: ms_sons_db_user
--



--
-- Name: AdminUser AdminUser_pkey; Type: CONSTRAINT; Schema: public; Owner: ms_sons_db_user
--

ALTER TABLE ONLY public."AdminUser"
    ADD CONSTRAINT "AdminUser_pkey" PRIMARY KEY (id);


--
-- Name: Airline Airline_pkey; Type: CONSTRAINT; Schema: public; Owner: ms_sons_db_user
--

ALTER TABLE ONLY public."Airline"
    ADD CONSTRAINT "Airline_pkey" PRIMARY KEY (id);


--
-- Name: AuditLog AuditLog_pkey; Type: CONSTRAINT; Schema: public; Owner: ms_sons_db_user
--

ALTER TABLE ONLY public."AuditLog"
    ADD CONSTRAINT "AuditLog_pkey" PRIMARY KEY (id);


--
-- Name: BookingInquiry BookingInquiry_pkey; Type: CONSTRAINT; Schema: public; Owner: ms_sons_db_user
--

ALTER TABLE ONLY public."BookingInquiry"
    ADD CONSTRAINT "BookingInquiry_pkey" PRIMARY KEY (id);


--
-- Name: FlightSchedule FlightSchedule_pkey; Type: CONSTRAINT; Schema: public; Owner: ms_sons_db_user
--

ALTER TABLE ONLY public."FlightSchedule"
    ADD CONSTRAINT "FlightSchedule_pkey" PRIMARY KEY (id);


--
-- Name: HotelRoomPrice HotelRoomPrice_pkey; Type: CONSTRAINT; Schema: public; Owner: ms_sons_db_user
--

ALTER TABLE ONLY public."HotelRoomPrice"
    ADD CONSTRAINT "HotelRoomPrice_pkey" PRIMARY KEY (id);


--
-- Name: Hotel Hotel_pkey; Type: CONSTRAINT; Schema: public; Owner: ms_sons_db_user
--

ALTER TABLE ONLY public."Hotel"
    ADD CONSTRAINT "Hotel_pkey" PRIMARY KEY (id);


--
-- Name: PackageHotel PackageHotel_pkey; Type: CONSTRAINT; Schema: public; Owner: ms_sons_db_user
--

ALTER TABLE ONLY public."PackageHotel"
    ADD CONSTRAINT "PackageHotel_pkey" PRIMARY KEY (id);


--
-- Name: PackageRoomPrice PackageRoomPrice_pkey; Type: CONSTRAINT; Schema: public; Owner: ms_sons_db_user
--

ALTER TABLE ONLY public."PackageRoomPrice"
    ADD CONSTRAINT "PackageRoomPrice_pkey" PRIMARY KEY (id);


--
-- Name: Package Package_pkey; Type: CONSTRAINT; Schema: public; Owner: ms_sons_db_user
--

ALTER TABLE ONLY public."Package"
    ADD CONSTRAINT "Package_pkey" PRIMARY KEY (id);


--
-- Name: Review Review_pkey; Type: CONSTRAINT; Schema: public; Owner: ms_sons_db_user
--

ALTER TABLE ONLY public."Review"
    ADD CONSTRAINT "Review_pkey" PRIMARY KEY (id);


--
-- Name: RoomType RoomType_pkey; Type: CONSTRAINT; Schema: public; Owner: ms_sons_db_user
--

ALTER TABLE ONLY public."RoomType"
    ADD CONSTRAINT "RoomType_pkey" PRIMARY KEY (id);


--
-- Name: SiteSetting SiteSetting_pkey; Type: CONSTRAINT; Schema: public; Owner: ms_sons_db_user
--

ALTER TABLE ONLY public."SiteSetting"
    ADD CONSTRAINT "SiteSetting_pkey" PRIMARY KEY (id);


--
-- Name: AdminUser_email_key; Type: INDEX; Schema: public; Owner: ms_sons_db_user
--

CREATE UNIQUE INDEX "AdminUser_email_key" ON public."AdminUser" USING btree (email);


--
-- Name: Airline_code_key; Type: INDEX; Schema: public; Owner: ms_sons_db_user
--

CREATE UNIQUE INDEX "Airline_code_key" ON public."Airline" USING btree (code);


--
-- Name: AuditLog_createdAt_idx; Type: INDEX; Schema: public; Owner: ms_sons_db_user
--

CREATE INDEX "AuditLog_createdAt_idx" ON public."AuditLog" USING btree ("createdAt");


--
-- Name: AuditLog_entity_idx; Type: INDEX; Schema: public; Owner: ms_sons_db_user
--

CREATE INDEX "AuditLog_entity_idx" ON public."AuditLog" USING btree (entity);


--
-- Name: BookingInquiry_createdAt_idx; Type: INDEX; Schema: public; Owner: ms_sons_db_user
--

CREATE INDEX "BookingInquiry_createdAt_idx" ON public."BookingInquiry" USING btree ("createdAt");


--
-- Name: BookingInquiry_referenceNumber_idx; Type: INDEX; Schema: public; Owner: ms_sons_db_user
--

CREATE INDEX "BookingInquiry_referenceNumber_idx" ON public."BookingInquiry" USING btree ("referenceNumber");


--
-- Name: BookingInquiry_referenceNumber_key; Type: INDEX; Schema: public; Owner: ms_sons_db_user
--

CREATE UNIQUE INDEX "BookingInquiry_referenceNumber_key" ON public."BookingInquiry" USING btree ("referenceNumber");


--
-- Name: BookingInquiry_status_idx; Type: INDEX; Schema: public; Owner: ms_sons_db_user
--

CREATE INDEX "BookingInquiry_status_idx" ON public."BookingInquiry" USING btree (status);


--
-- Name: FlightSchedule_airlineId_idx; Type: INDEX; Schema: public; Owner: ms_sons_db_user
--

CREATE INDEX "FlightSchedule_airlineId_idx" ON public."FlightSchedule" USING btree ("airlineId");


--
-- Name: FlightSchedule_departureDate_idx; Type: INDEX; Schema: public; Owner: ms_sons_db_user
--

CREATE INDEX "FlightSchedule_departureDate_idx" ON public."FlightSchedule" USING btree ("departureDate");


--
-- Name: HotelRoomPrice_hotelId_idx; Type: INDEX; Schema: public; Owner: ms_sons_db_user
--

CREATE INDEX "HotelRoomPrice_hotelId_idx" ON public."HotelRoomPrice" USING btree ("hotelId");


--
-- Name: HotelRoomPrice_hotelId_roomTypeId_key; Type: INDEX; Schema: public; Owner: ms_sons_db_user
--

CREATE UNIQUE INDEX "HotelRoomPrice_hotelId_roomTypeId_key" ON public."HotelRoomPrice" USING btree ("hotelId", "roomTypeId");


--
-- Name: HotelRoomPrice_roomTypeId_idx; Type: INDEX; Schema: public; Owner: ms_sons_db_user
--

CREATE INDEX "HotelRoomPrice_roomTypeId_idx" ON public."HotelRoomPrice" USING btree ("roomTypeId");


--
-- Name: PackageHotel_hotelId_key; Type: INDEX; Schema: public; Owner: ms_sons_db_user
--

CREATE UNIQUE INDEX "PackageHotel_hotelId_key" ON public."PackageHotel" USING btree ("hotelId");


--
-- Name: PackageRoomPrice_packageId_idx; Type: INDEX; Schema: public; Owner: ms_sons_db_user
--

CREATE INDEX "PackageRoomPrice_packageId_idx" ON public."PackageRoomPrice" USING btree ("packageId");


--
-- Name: PackageRoomPrice_packageId_roomTypeId_key; Type: INDEX; Schema: public; Owner: ms_sons_db_user
--

CREATE UNIQUE INDEX "PackageRoomPrice_packageId_roomTypeId_key" ON public."PackageRoomPrice" USING btree ("packageId", "roomTypeId");


--
-- Name: PackageRoomPrice_roomTypeId_idx; Type: INDEX; Schema: public; Owner: ms_sons_db_user
--

CREATE INDEX "PackageRoomPrice_roomTypeId_idx" ON public."PackageRoomPrice" USING btree ("roomTypeId");


--
-- Name: Package_airlineId_idx; Type: INDEX; Schema: public; Owner: ms_sons_db_user
--

CREATE INDEX "Package_airlineId_idx" ON public."Package" USING btree ("airlineId");


--
-- Name: Package_departureDate_idx; Type: INDEX; Schema: public; Owner: ms_sons_db_user
--

CREATE INDEX "Package_departureDate_idx" ON public."Package" USING btree ("departureDate");


--
-- Name: Package_durationDays_idx; Type: INDEX; Schema: public; Owner: ms_sons_db_user
--

CREATE INDEX "Package_durationDays_idx" ON public."Package" USING btree ("durationDays");


--
-- Name: Package_packageCode_idx; Type: INDEX; Schema: public; Owner: ms_sons_db_user
--

CREATE INDEX "Package_packageCode_idx" ON public."Package" USING btree ("packageCode");


--
-- Name: Package_packageCode_key; Type: INDEX; Schema: public; Owner: ms_sons_db_user
--

CREATE UNIQUE INDEX "Package_packageCode_key" ON public."Package" USING btree ("packageCode");


--
-- Name: Package_status_idx; Type: INDEX; Schema: public; Owner: ms_sons_db_user
--

CREATE INDEX "Package_status_idx" ON public."Package" USING btree (status);


--
-- Name: Review_createdAt_idx; Type: INDEX; Schema: public; Owner: ms_sons_db_user
--

CREATE INDEX "Review_createdAt_idx" ON public."Review" USING btree ("createdAt");


--
-- Name: Review_isApproved_idx; Type: INDEX; Schema: public; Owner: ms_sons_db_user
--

CREATE INDEX "Review_isApproved_idx" ON public."Review" USING btree ("isApproved");


--
-- Name: RoomType_code_key; Type: INDEX; Schema: public; Owner: ms_sons_db_user
--

CREATE UNIQUE INDEX "RoomType_code_key" ON public."RoomType" USING btree (code);


--
-- Name: RoomType_name_key; Type: INDEX; Schema: public; Owner: ms_sons_db_user
--

CREATE UNIQUE INDEX "RoomType_name_key" ON public."RoomType" USING btree (name);


--
-- Name: SiteSetting_key_key; Type: INDEX; Schema: public; Owner: ms_sons_db_user
--

CREATE UNIQUE INDEX "SiteSetting_key_key" ON public."SiteSetting" USING btree (key);


--
-- Name: AuditLog AuditLog_adminId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ms_sons_db_user
--

ALTER TABLE ONLY public."AuditLog"
    ADD CONSTRAINT "AuditLog_adminId_fkey" FOREIGN KEY ("adminId") REFERENCES public."AdminUser"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: BookingInquiry BookingInquiry_packageId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ms_sons_db_user
--

ALTER TABLE ONLY public."BookingInquiry"
    ADD CONSTRAINT "BookingInquiry_packageId_fkey" FOREIGN KEY ("packageId") REFERENCES public."Package"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: FlightSchedule FlightSchedule_airlineId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ms_sons_db_user
--

ALTER TABLE ONLY public."FlightSchedule"
    ADD CONSTRAINT "FlightSchedule_airlineId_fkey" FOREIGN KEY ("airlineId") REFERENCES public."Airline"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: HotelRoomPrice HotelRoomPrice_hotelId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ms_sons_db_user
--

ALTER TABLE ONLY public."HotelRoomPrice"
    ADD CONSTRAINT "HotelRoomPrice_hotelId_fkey" FOREIGN KEY ("hotelId") REFERENCES public."Hotel"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: HotelRoomPrice HotelRoomPrice_roomTypeId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ms_sons_db_user
--

ALTER TABLE ONLY public."HotelRoomPrice"
    ADD CONSTRAINT "HotelRoomPrice_roomTypeId_fkey" FOREIGN KEY ("roomTypeId") REFERENCES public."RoomType"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: PackageHotel PackageHotel_hotelId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ms_sons_db_user
--

ALTER TABLE ONLY public."PackageHotel"
    ADD CONSTRAINT "PackageHotel_hotelId_fkey" FOREIGN KEY ("hotelId") REFERENCES public."Hotel"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: PackageRoomPrice PackageRoomPrice_packageId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ms_sons_db_user
--

ALTER TABLE ONLY public."PackageRoomPrice"
    ADD CONSTRAINT "PackageRoomPrice_packageId_fkey" FOREIGN KEY ("packageId") REFERENCES public."Package"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: PackageRoomPrice PackageRoomPrice_roomTypeId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ms_sons_db_user
--

ALTER TABLE ONLY public."PackageRoomPrice"
    ADD CONSTRAINT "PackageRoomPrice_roomTypeId_fkey" FOREIGN KEY ("roomTypeId") REFERENCES public."RoomType"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Package Package_airlineId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ms_sons_db_user
--

ALTER TABLE ONLY public."Package"
    ADD CONSTRAINT "Package_airlineId_fkey" FOREIGN KEY ("airlineId") REFERENCES public."Airline"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Package Package_madinahHotelId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ms_sons_db_user
--

ALTER TABLE ONLY public."Package"
    ADD CONSTRAINT "Package_madinahHotelId_fkey" FOREIGN KEY ("madinahHotelId") REFERENCES public."PackageHotel"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Package Package_makkahHotelId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ms_sons_db_user
--

ALTER TABLE ONLY public."Package"
    ADD CONSTRAINT "Package_makkahHotelId_fkey" FOREIGN KEY ("makkahHotelId") REFERENCES public."PackageHotel"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: DEFAULT PRIVILEGES FOR SEQUENCES; Type: DEFAULT ACL; Schema: -; Owner: postgres
--

ALTER DEFAULT PRIVILEGES FOR ROLE postgres GRANT ALL ON SEQUENCES TO ms_sons_db_user;


--
-- Name: DEFAULT PRIVILEGES FOR TYPES; Type: DEFAULT ACL; Schema: -; Owner: postgres
--

ALTER DEFAULT PRIVILEGES FOR ROLE postgres GRANT ALL ON TYPES TO ms_sons_db_user;


--
-- Name: DEFAULT PRIVILEGES FOR FUNCTIONS; Type: DEFAULT ACL; Schema: -; Owner: postgres
--

ALTER DEFAULT PRIVILEGES FOR ROLE postgres GRANT ALL ON FUNCTIONS TO ms_sons_db_user;


--
-- Name: DEFAULT PRIVILEGES FOR TABLES; Type: DEFAULT ACL; Schema: -; Owner: postgres
--

ALTER DEFAULT PRIVILEGES FOR ROLE postgres GRANT ALL ON TABLES TO ms_sons_db_user;


--
-- PostgreSQL database dump complete
--

\unrestrict RwrwQTEHf6gpHv9SQcp4W8usE3Z0AMUaUmUf4wJg7gh0aYo2vsHhyvz3wOG3SxO

